---
BasedOnStyle: LLVM
IndentWidth: 4
NamespaceIndentation: All
BinPackParameters: false
BinPackArguments: false
AlwaysBreakTemplateDeclarations: Yes
BreakTemplateDeclarations: Yes
IndentCaseLabels: true
AllowShortLambdasOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AlignAfterOpenBracket: BlockIndent
PackConstructorInitializers: NextLineOnly
ColumnLimit: 180
